body{
    margin: 0;
    font-family: "Helvetica Neue";
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    height: 100vh;
    background: linear-gradient(to bottom, #4CAF50, #CDDC39);
    
}

.container-head {
    display: flex;
    flex-direction: column;
    margin:auto;
    margin-top: 60px;
    padding-bottom: 30px;
    width: 600px;
    background-color: white;
    max-height: 90vh; 
}

.header-head {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 9px;
    width: 100%;
    margin-top: 30px;
}

.text{
    color: #CDDC39;
    font-size: 48px;
    font-weight: 700;
}

.underline {
    width: 160px;
    height: 5px;
    background: #CDDC39;
    border-radius: 9px;
}

.Inputs{
    margin-top: 55px;
    display:flex;
    flex-direction: column;
}

.input {
    display: flex;
    margin-top: 20px;
    align-items: center;
    margin: auto;
    width: 480px;
    height: 80px;  
    border-radius: 6px;

    input{
        height: 50px;
        width: 400px;
        background: transparent;
        border: none;
        outline: none;
        color: #797979;
        font-size: 19px;
    }
}

.input img {
    margin: 0px 30px;
}

.forgot-password {
    padding-left: 62px;
    margin-top: 27px;
    color: #797979;
    font-size: 18px;

    span{
        color: #4CAF50;
        cursor: pointer;
        
    }
}

.submit-container {
    display: flex;
    gap: 30px;
    margin: 60px auto;


    .submit{
        display: flex;
        justify-content: center;
        align-items: center;
        width: 220px;
        height: 59px;
        color: #fff;
        background: #CDDC39;
        border-radius: 10px;
        font-size: 19px;
        font-weight: 700;
        cursor: pointer;
        // Animation that makes the button grow when hovered
        transition: all 0.3s ease;
        &:hover {
            transform: scale(1.1);
        }


    }
    .gray {
        background: #eaeaea;
        color: #676767;
    }
}


