.submit-container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 50vh;


    .submit {
        display: flex;
        justify-content: center;
        align-items: center;
        width: 220px;
        height: 59px;
        color: #fff;
        background: #CDDC39;
        border-radius: 10px;
        font-size: 19px;
        font-weight: 700;
        cursor: pointer;
        transition: all 0.3s ease;
    }

    .submit.gray {
        background: #eaeaea;
        color: #676767;
    }

    .submit:hover {
        transform: scale(1.1);
    }
}

  .join-form {
    text-align: center;
  }
  
