.settings {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 100%;
  max-width: 400px;
  padding: 20px;
  background-color: #fff;
  border: 1px solid #ddd;
  border-radius: 5px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  text-align: center;
  font-family: 'Roboto Slab', serif;


  h1 {
    font-size: 24px;
    margin-bottom: 20px;
    color: #333;
    font-family: 'Open Sans', serif;
  }

  ul {
    list-style-type: none;
    padding: 0;

    li {
      margin-bottom: 20px;

      button,
      a {
        display: block;
        width: 100%;
        padding: 10px 20px;
        font-size: 16px;
        border: none;
        border-radius: 5px;
        cursor: pointer;
        transition: background-color 0.3s, color 0.3s;

        &:hover {
          background-color: orangered;
          color: white;
        }
      }

      &:last-child {
        margin-bottom: 0;
      }

      &:nth-child(4) a {
        display: inline-block;
        padding: 10px 0;
        width: auto;
      }
    }
  }
}

.text1{
  color: #CDDC39;
  font-size: 48px;
  font-weight: 700;
}

.underline {
  width: 100px;
  height: 5px;
  background: #CDDC39;
  border-radius: 9px;
  // Move to the right
  margin-left: 30%;
}